<article class="content-card">
    {% if article.featuredImage %}
        {% include 'partials/_media_card.html.twig' with { media: article.featuredImage } only %}
    {% endif %}
    <div class="card-body">
        <p class="card-meta">
            {% if article.publishedAt %}{{ article.publishedAt|date('d/m/Y') }}{% endif %}
            {% if article.category %}<span>{{ article.category.name }}</span>{% endif %}
        </p>
        <h3><a href="{{ path('app_article_show', { slug: article.slug }) }}">{{ article.title }}</a></h3>
        {% if article.excerpt %}
            <p>{{ article.excerpt }}</p>
        {% endif %}
        {% if article.tagLinks|length > 0 %}
            <div class="badges">
                {% for tagLink in article.tagLinks %}
                    <span class="badge">{{ tagLink.tag.name }}</span>
                {% endfor %}
            </div>
        {% endif %}
        <a class="text-link" href="{{ path('app_article_show', { slug: article.slug }) }}">Lire l'article</a>
    </div>
</article>
