<article class="content-card">
    {% include 'partials/_cover_media.html.twig' with {
        featured_media: place.featuredImage,
        media_links: place.mediaLinks
    } only %}
    <div class="card-body">
        <p class="card-meta">
            {% if place.destination %}<span>{{ place.destination.name }}</span>{% endif %}
            {% if place.category %}<span>{{ place.category.name }}</span>{% endif %}
        </p>
        <h3><a href="{{ path('app_place_show', { slug: place.slug }) }}">{{ place.name }}</a></h3>
        {% if place.shortDescription %}
            <p>{{ place.shortDescription }}</p>
        {% endif %}
        <a class="text-link" href="{{ path('app_place_show', { slug: place.slug }) }}">Voir le lieu</a>
    </div>
</article>
